@font-face {
    font-family: 'Supercell-Magic';
    src: url('supercell-magic.ttf');
}
.text{
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
    -fx-font-family: 'Supercell-Magic';
}
#timeLeftLlb .text{
    -fx-fill: #feecad;
    -fx-font-size : 30px;

}
#nextLbl{
    -fx-font-size : 18px;
}
#elixirCounterLbl{
    -fx-font-size : 30px;

}
#timeLbl{
    -fx-translate-x: 1775;
    -fx-translate-y: 55;
    -fx-font-size : 30px;

}

#earnedCup1Lbl .text{
    -fx-fill: #6ad3ff;
    -fx-font-size : 50px;
}
#earnedCup2Lbl .text{
    -fx-fill: #de4644;
    -fx-font-size : 50px;
}