#background{
    /*    -fx-scale-x: 0.25;
        -fx-scale-y: 0.25;*/
}
#mainMenu{
    -fx-translate-x: 1222;
    -fx-translate-y: 850;
    -fx-scale-x: 0.75;
    -fx-scale-y: 0.75;

}
#deckMenu_Wide{
    -fx-translate-x: 1250;
    -fx-translate-y: 800;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;

}
#aboutMenu{
    -fx-translate-x: 1520;
    -fx-translate-y: 850;
    -fx-scale-x: 0.75;
    -fx-scale-y: 0.75;
}
#battleDeck{
    -fx-translate-x: -402;
    -fx-translate-y: -290;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
}
#woodSlot1{
    -fx-translate-x: 1100;
    -fx-translate-y: 50;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
}
#woodSlot2{
    -fx-translate-x: 1300;
    -fx-translate-y: 50;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
}
#woodSlot3{
    -fx-translate-x: 1500;
    -fx-translate-y: 50;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
}
#woodSlot4{
    -fx-translate-x: 1200;
    -fx-translate-y: 290;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
}
#woodSlot5{
    -fx-translate-x: 1400;
    -fx-translate-y: 290;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
}
#usedSlot1{ 
    -fx-translate-x: 35;
    -fx-translate-y: 125;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
}
#usedSlot2{ 
    -fx-translate-x: 223;
    -fx-translate-y: 125;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
}
#usedSlot3{ 
    -fx-translate-x: 405;
    -fx-translate-y: 125;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
}
#usedSlot4{
    -fx-translate-x: 595;
    -fx-translate-y: 125;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
}
#usedSlot5{ 
    -fx-translate-x: 35;
    -fx-translate-y: 405;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
}
#usedSlot6{ 
    -fx-translate-x: 223;
    -fx-translate-y: 405;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
}
#usedSlot7{
    -fx-translate-x: 405;
    -fx-translate-y: 405;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
}
#usedSlot8{
    -fx-translate-x: 595;
    -fx-translate-y: 405;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
}
#notUsedSlot1{ 
    -fx-translate-x: 1135;
    -fx-translate-y: 100;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
}
#notUsedSlot2{
    -fx-translate-x: 1335;
    -fx-translate-y: 100;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
}
#notUsedSlot3{
    -fx-translate-x: 1535;
    -fx-translate-y: 100;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
}
#notUsedSlot4{ 
    -fx-translate-x: 1235;
    -fx-translate-y: 340;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
}
#notUsedSlot5{
    -fx-translate-x: 1435;
    -fx-translate-y: 340;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
}
