#background{
}
#arenaIcon{
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
    -fx-translate-x: 550;
    -fx-translate-y: -100;
}
#playWithFriend{
    -fx-translate-x: 600;
    -fx-translate-y: 600;
}
#playWithSmartizie{
    -fx-translate-x: 1000;
    -fx-translate-y: 600;
}
#nextArena{
    -fx-translate-x: 1200;
    -fx-translate-y: 350;
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.6;
}
#previousArena{
    -fx-translate-x: 630;
    -fx-translate-y: 350;
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.6;
}
#mainMenu_Wide{
    -fx-translate-x: 870;
    -fx-translate-y: 800;
}
#aboutMenu{
    -fx-translate-x: 1045;
    -fx-translate-y: 795;
    -fx-scale-x: 0.75;
    -fx-scale-y: 0.75;
}
#deckMenu{
    -fx-translate-x: 748;
    -fx-translate-y: 795;
        -fx-scale-x: 0.75;
    -fx-scale-y: 0.75;
}
#settingsMenu{
    -fx-translate-x: 1300;
    -fx-translate-y: 830;
}
#exit{
    -fx-translate-x: 550;
    -fx-translate-y: 830;
}